<!-- Navigation -->
<sr-navbar></sr-navbar>

<div class="container-fluid" style="background: url('../public/img/funky-lines.png'); min-height: 100vh; height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="m-5 p-5" style="background: white; border: 1px solid rgba(0,0,0,0.1); border-radius: 25px;">

          <h2 class="mb-3">
            <img src="../public/img/icons/music-folder.png" alt="" style="height: 84px;">
            Login to SkipRope
          </h2>

          <form ng-submit="vm.submitLogin()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="" ng-model="vm.username">
              <small class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="" ng-model="vm.password">
            </div>
            <button type="submit" class="btn btn-primary px-5 py-3" style="border-radius: 35px;">Login</button>
          </form>

        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>