<!-- Navigation -->
<sr-navbar></sr-navbar>

<div class="container-fluid" style="background: url('../public/img/funky-lines.png'); height: 100%;">
  <div class="container" style="background: white; border-left: 1px solid rgba(0,0,0,0.1); border-right: 1px solid rgba(0,0,0,0.1); height: 100%">
    <div class="row p-3" style="border-bottom: 1px dashed rgba(0,0,0,0.1);">
      <div class="col-sm-3 pb-1 mt-auto" style="text-align: center;">
        <img src="../public/img/icons/music-folder.png" alt="" style="height: 84px;">
      </div>
      <div class="col-sm-9 pb-1 mt-auto">
        <h3>{{ vm.user.name }} {{ vm.user.surname }}</h3>
        <h5><small>{{ vm.user.username }}</small></h5>
      </div>
    </div>
    <div class="row p-3" style="height: 100%; min-height: 100vh;">
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      <div class="col-md-6"><div class="p-2 m-2">
        hehe xd
      </div></div>
      
    </div>
  </div>
</div>