<!-- Navigation -->
<sr-navbar></sr-navbar>

<header class="bg-image-full sr-header" style="background-image: url('../public/img/smoke_bg.jpg');">
  <img id="play" class="img-fluid d-block mx-auto" src="../public/img/logo_play.png" alt="">
  <span id="slogan">Stream in style</span>
</header>


<div class="text-center container">
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
  <sr-songnail></sr-songnail>
</div>


<div style="height:500px"></div>
