#sr-navbar{
  opacity:0.9;
  width:100%;
  position: fixed;
  padding-left:9%;
  padding-right:9%;
}

#slogan{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #2e2b2b;
}

#play{
  padding-bottom:10px;
  width: 12%;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 550px;
  text-align: center;
  padding-top: 200px;
}

.register{
  margin-top:100px;
  margin-bottom:100px;
}